{% extends "layouts/bs4_layout.html" %}

{% block content %}
<style>
    #chart_div {
  min-height: 300px;
}
</style>

   <div class="container">
        <div class="row mb-5">
            <div class="col-xs-12">
                <h1>Delphi Stock Picker</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">

                <div class="row mb-5">
                    <div class="col-">

                        <div class="card">
                            <div class="card-body">

                                <p class="card-text">
                                    <h2 class="mb-5">For Members </h2>

                                    <h5><i class="fa fa-check" style="color:green"></i>  AI Stock Analysis </h5>
                                    <h5><i class="fa fa-check" style="color:green"></i>  Portfolio Manager </h5>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-sm-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Google Price History</h5>
                        <h6>{{last_month_text}} {{last_day_full}}, {{last_year_full}} to {{current_month_text}} {{current_day_full}}, {{current_year_full}} </h6>
                        <p class="card-text">
                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                            <div id="chart_div" style="height: 370px; width: 100%;"></div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>


<script>
google.charts.load('current', {
  packages: ['corechart', 'line']
});
google.charts.setOnLoadCallback(drawLogScales);

function drawLogScales() {
  getRequest(
    'https://financialmodelingprep.com/api/company/historical-price/GOOG?from={{start_date}}&to={{current_date}}&serietype=line&serieformat=array&datatype=json',
    drawOutput
  );
}


function drawOutput(responseText) {
  var graphData = JSON.parse(responseText).historical;
  draw(graphData);

}

function draw(graphData) {

  graphData.forEach((item) => {
    if (typeof item[0] === "string") {
      var split = (item[0]).split(" ");
      item[0] = new Date(split[3] + '/' + split[1] + '/' + split[2]);
    }
  });
  console.log(graphData);
  graphData.unshift(['Date', 'Close', 'Close'])
  var data = google.visualization.arrayToDataTable(graphData);

  var options = {
    crosshair: {
      trigger: 'both',
      orientation: 'both'
    },
    seriesType: "line",
    colors: ['#3365cc'],
    series: {
      0: {
        targetAxisIndex: 1
      },
      1: {
        targetAxisIndex: 0
      },
    },
    height: 300,
    backgroundColor: {
      fill: '#FFFFFF'
    },
    chartArea: {
      height: '75%',
      width: "90%",
    },
    legend: 'none',
    vAxes: {
      0: {
        textStyle: {
          fontSize: 10,
          color: 'black'
        },
        gridlines: {
          color: '#dcd7da'
        },
      },
      1: {
        textStyle: {
          fontSize: 10,
          color: 'black'
        },
        gridlines: {
          color: '#dcd7da'
        },
      }

    },
  }

  var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

  chart.draw(data, options);

}

function getRequest(url, success) {
  var req = false;
  try {
    req = new XMLHttpRequest();
  } catch (e) {
    try {
      req = new ActiveXObject("Msxml2.XMLHTTP");
    } catch (e) {
      try {
        req = new ActiveXObject("Microsoft.XMLHTTP");
      } catch (e) {
        return false;
      }
    }
  }
  if (!req) return false;
  if (typeof success != 'function') success = function() {};
  req.onreadystatechange = function() {
    if (req.readyState == 4) {
      if (req.status === 200) {
        success(req.responseText)
      }
    }
  }
  req.open("GET", url, true);
  req.send(null);
  return req;
}
</script>



{% endblock %}

