{% extends "layouts/bs4_layout.html" %}

{% block content %}

<div class="container">

        <div class="row mb-5">
                <div class="col-xs-12">
                    <h1>Create Account</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">

                    <div class="row mb-5">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title mb-5">Registration</h5>

                                    {% if status == 1 %}
                                    <div class="alert alert-danger">
                                      <strong><i class="fa fa-warning" style="color:red"></i> Error! </strong>{{ message }}
                                    </div>
                                    {% endif %}
                                   {% if status == 2 %}
                                    <div class="alert alert-success">
                                      <strong><i class="fa fa-warning" style="color:darkgreen"></i> Success! </strong>{{ message }}
                                    </div>
                                    {% endif %}

                                        <p class="card-text">
                                          <form method="post">
                                             {% csrf_token %}
                                               <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                                    </div>
                                                    <input class="form-control" name="first_name" id="first_name"  placeholder="First Name" type="text">
                                                </div>

                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                                    </div>
                                                    <input name="username" class="form-control" placeholder="User Name" type="text">
                                                </div>

                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-key"></i> </span>
                                                    </div>
                                                    <input name="password1" class="form-control" placeholder="Password" type="password">
                                                </div>

                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-key"></i> </span>
                                                    </div>
                                                    <input name="password2" class="form-control" placeholder="Confirm Password" type="password">
                                                </div>
                                            <button class="btn btn-danger" type="submit">Sign up</button>
                                          </form>


                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Privacy Policy</h5>
                            <p class="card-text">
                                We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
                            </p>

                        </div>
                    </div>

                <div class="card mt-5">
                    <div class="card-body">
                        <h5 class="card-title">Password Requirements</h5>
                			<div class="aro-pswd_info">
            				<div id="pswd_info">

            					<ul>
            						<li id="letter" class="invalid">At least <strong>one letter</strong></li>
            						<li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
            						<li id="number" class="invalid">At least <strong>one number</strong></li>
            						<li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
            						<li id="space" class="invalid">be<strong> use [~,!,@,#,$,%,^,&,*,-,=,.,;,']</strong></li>
            					</ul>
            				</div>
        				</div>

                        </div>
                    </div>
                </div>
            </div>





</div>
<script>

$('#contact-form').bootstrapValidator({
//        live: 'disabled',
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            Name: {
                validators: {
                    notEmpty: {
                        message: 'The Name is required and cannot be empty'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required'
                    },
                    emailAddress: {
                        message: 'The email address is not valid'
                    }
                }
            },
            Message: {
                validators: {
                    notEmpty: {
                        message: 'The Message is required and cannot be empty'
                    }
                }
            }
        }
    });

$(document).ready(function(){
    $('#pass2').focusout(function(){
        var pass = $('#password1').val();
        var pass2 = $('#password2').val();
        if(pass != pass2){
            alert('the passwords didn\'t match!');
        }

    });
});
</script>


{% endblock %}