{% extends "layouts/bs4_layout.html" %}

{% block content %}



<div class="container">

      <div class="row">
        <div class="col-sm-12">
            <div class="row mb-5">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Search Information</h5>

                            <p class="card-text">
                        	    <form method="POST"  action="/stockpicker/purchase" enctype="multipart/form-data">
                                {% csrf_token %}

                                <article class="card-body mx-auto" style="max-width: 90%;">
                                    <div>
                                        <div class="row">
                                            <div class="col-3">
                                                <label>Ticker Symbol</label>
                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-sitemap"></i> </span>
                                                    </div>
                                                    <input name="company" id="company" class="form-control" placeholder="Stock" type="text" maxlength="4" style="text-transform: uppercase">
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <label>Shares</label>
                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-sitemap"></i> </span>
                                                    </div>
                                                    <input name="shares" id="shares"  class="form-control" placeholder="Shares" type="text" maxlength="7">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block mt-4"> Buy  </button>
                                                </div> <!-- form-group// -->
                                            </div>
                                        </div>
                                    </form>
                                </p>

                                </article>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


	<div class="row">
		<div class="col-md-12">
			<h3>
				Your Portfolio
			</h3>

			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>
							Ticker Symbol
						</th>
						<th>
							Comany
						</th>
						<th>
							Shares
						</th>
						<th>
							Price
						</th>
						<th>
							Date Purchased
						</th>
						<th>
							Value
						</th>
						<th>
							Action
						</th>
					</tr>
				</thead>
				<tbody>

			    {% for item in userPorfolio %}
                    <tr>
                        <td>
                            <a href="edit/{{ item.id }}" class="btn btn-primary">Edit</a>
                        </td>
                        <td>
                            {{ item.company }}
                        </td>
                        <td>
                            {{ item.shares }}
                        </td>
                        <td>
                            {{ item.purchase_price }}
                        </td>
                        <td>
                            {{ item.purchase_timestamp|date:"M d, Y" }}
                        </td>
                        <td>
                            Calculated Value
                        </td>
                        <td>
                            <a href="{% url 'sell' item.id %}" class="btn btn-danger">Sell</a>
                        </td>
                    </tr>
                {% endfor %}

				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}
