{% extends "layouts/bs4_layout.html" %}

{% block content %}



<div class="container">
   <div class="row">
        <div class="col-sm-12">
            <div class="row mb-5">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Search Information</h5>

                            <p class="card-text">
                                <h5>Credits: ${{credits}}</h5>
                                <hr>

                                {% if showBuyForm == False %}
                                    <form method="POST">
                                    {% csrf_token %}
                                    <div>
                                        <div class="row">
                                            <div class="col-4">
                                                <label>Enter Stock Symbol</label>
                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-sitemap"></i> </span>
                                                    </div>
                                                    <input name="company" class="form-control" placeholder="Stock" type="text" maxlength="4" size="4" required>
                                                    <button type="submit" class="btn btn-primary ml-2"><i class="fa fa-search"></i> Search  </button>
                                            </div>
                                        </div>
                                        <hr>

                                        </p>
                                    </form>
                                {% endif %}

                                {% if showBuyForm %}

                               	    <form method="POST" action="/stockpicker/purchase" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <div class="row mt-4">
                                        <div class="col-12 mb-3">
                                            Company: {{company}} Current Price: <b>${{ price }}</b> per share
                                         </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <label>Shares</label>
                                            <div class="form-group input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"> <i class="fa fa-sitemap"></i> </span>
                                                </div>
                                                <input name="company" id="company" value="{{company}}" type="hidden">
                                                <input name="price" id="price" type="hidden" value="{{ price }}">
                                                <input name="credits" id="credits" type="hidden" value="{{ credits }}">
                                                <input name="shares" id="shares" class="form-control" placeholder="Shares" value="" type="text" maxlength="6" >

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-3">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary mt-4"><i class="fa fa-search mr-2"></i> Purchase </button>
                                            </div> <!-- form-group// -->
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <a href="/stockpicker/cancel" class="btn btn-danger mt-4 ml-5"><i class="fa fa-undo mr-2"></i> Cancel  </a>
                                            </div> <!-- form-group// -->
                                        </div>
                                    </div>
                                </form>

                                {% endif %}

                            </p>
                        </div>
                    </div>
                </div>
            </div>



        </div>


	<div class="row mt-5">
		<div class="col-md-12">
			<h3 >
				Your Portfolio
			</h3>
			<h6 class="mt-3">
				Stocks: <b style="color: darkred">${{portfolioValue|floatformat:2 }}</b>  - Remaining Credit: <b style="color: darkblue">${{credits|floatformat:2 }}</b> - Total Value: <b style="color: darkgreen">${{valueTotal|floatformat:2 }}</b>
			</h6>

			<table class="table table-condensed table-hover mt-3">
				<thead>
					<tr>
						<th>
							Ticker Symbol
						</th>
						<th>
							Company
						</th>
						<th>
							Shares
						</th>
						<th>
							Purchase Price
						</th>
						<th>
							Date Purchased
						</th>
						<th>
							Current Price
						</th>
						<th>
							Current Value
						</th>
						<th>
							Action
						</th>
					</tr>
				</thead>
				<tbody>

			    {% for item in userPorfolio %}

                    <tr>
                        <td>
                            {{ item.company }}
                        </td>
                        <td>


                        </td>
                        <td>
                            {{ item.shares }}
                        </td>
                        <td>
                            {{ item.purchase_price }}
                        </td>
                        <td>
                            {{ item.purchase_timestamp|date:"M d, Y" }}
                        </td>
                        <td>
                          {% if forloop.counter0 == 0 %}
                               {{ arrayData.0}}
                          {% elif forloop.counter0 == 1 %}
                               {{ arrayData.1}}
                          {% elif forloop.counter0 == 2 %}
                               {{ arrayData.2}}
                          {% elif forloop.counter0 == 3 %}
                               {{ arrayData.3}}
                          {% elif forloop.counter0 == 4 %}
                               {{ arrayData.4}}
                          {% elif forloop.counter0 == 5 %}
                               {{ arrayData.5}}
                          {% elif forloop.counter0 == 6 %}
                               {{ arrayData.6}}
                          {% elif forloop.counter0 == 7 %}
                               {{ arrayData.7}}
                          {% elif forloop.counter0 == 8 %}
                               {{ arrayData.8}}
                          {% elif forloop.counter0 == 9 %}
                               {{ arrayData.9}}
                          {% elif forloop.counter0 == 10 %}
                               {{ arrayData.10}}
                          {% endif %}
                       </td>

                        <td>
                          {% load mathfilters %}

                          {% if forloop.counter0 == 0 %}
                               {{ arrayData.0| mul:item.shares|floatformat:"0"  }}
                          {% elif forloop.counter0 == 1 %}
                               {{ arrayData.1| mul:item.shares|floatformat:"0" }}
                          {% elif forloop.counter0 == 2 %}
                               {{ arrayData.2| mul:item.shares|floatformat:"0" }}
                          {% elif forloop.counter0 == 3 %}
                               {{ arrayData.3| mul:item.shares|floatformat:"0" }}
                          {% elif forloop.counter0 == 4 %}
                               {{ arrayData.4| mul:item.shares|floatformat:"0"}}
                          {% elif forloop.counter0 == 5 %}
                               {{ arrayData.5| mul:item.shares|floatformat:"0"}}
                          {% elif forloop.counter0 == 6 %}
                               {{ arrayData.6| mul:item.shares|floatformat:"0"}}
                          {% elif forloop.counter0 == 7 %}
                               {{ arrayData.7| mul:item.shares|floatformat:"0"}}
                          {% elif forloop.counter0 == 8 %}
                               {{ arrayData.8| mul:item.shares|floatformat:"0"}}
                          {% elif forloop.counter0 == 9 %}
                               {{ arrayData.9| mul:item.shares|floatformat:"0"}}
                          {% elif forloop.counter0 == 10 %}
                               {{ arrayData.10| mul:item.shares|floatformat:"0"}}
                          {% endif %}


                        </td>
                        <td>
                            <a href="{% url 'sell' item.id %}" class="btn btn-danger">Sell</a>
                        </td>
                    </tr>
                {% endfor %}


				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}
